<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- 
		一个sessionFactory就代表一个数据库的描述
	-->
<session-factory>
	<!-- 链接数据库的用户名 -->
	<property name="connection.username">root</property>
	<!-- 链接数据库的密码 -->
	<property name="connection.password">root</property>
	<!-- 链接数据库的驱动 -->
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<!-- 链接数据库的url -->
	<property name="connection.url">
		jdbc:mysql://localhost:3306/hibernate_day03
	</property>
	<!-- 
		方言
		告诉hibernate用什么样的数据库，将来会生成什么样的sql语句
	-->
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<!-- 
		hibernate对表的策略
		validate  在hibernate容器启动的时候，根据映射文件和持久化类校验表
		create    每次当hibernate启动的时候，都会根据持久化类和映射文件创建表
		create-drop  每次当hibernate启动的时候，都会根据持久化类和映射文件创建表,销毁的时候删除表
		update  检查，如果和映射文件不一致，则更新表的结构，如果没有表，则会创建表
	-->
	<property name="hbm2ddl.auto">update</property>
	<!-- 
		显示sql语句
	-->
	<property name="show_sql">true</property>
	<property name="format_sql">true</property>
	<property name="current_session_context_class">thread</property>
	<mapping resource="com/sz/ben/hibernate/onetoone/Course.hbm.xml" />
	<mapping resource="com/sz/ben/hibernate/onetoone/Person.hbm.xml" />
</session-factory>
</hibernate-configuration>
